@font-face {
  font-family: 'skyux-icons';
  src: url('../font/skyux-icons.eot?72907274');
  src: url('../font/skyux-icons.eot?72907274#iefix') format('embedded-opentype'),
       url('../font/skyux-icons.woff2?72907274') format('woff2'),
       url('../font/skyux-icons.woff?72907274') format('woff'),
       url('../font/skyux-icons.ttf?72907274') format('truetype'),
       url('../font/skyux-icons.svg?72907274#skyux-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'skyux-icons';
    src: url('../font/skyux-icons.svg?72907274#skyux-icons') format('svg');
  }
}
*/
 
 [class^="sky-i-"]:before, [class*=" sky-i-"]:before {
  font-family: "skyux-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.sky-i-calendar:before { content: '\e801'; } /* '' */
.sky-i-clock:before { content: '\e803'; } /* '' */
.sky-i-filter-solid:before { content: '\e804'; } /* '' */
.sky-i-columns:before { content: '\e806'; } /* '' */
.sky-i-check:before { content: '\e80a'; } /* '' */
.sky-i-chevron-right:before { content: '\e80b'; } /* '' */
.sky-i-chevron-up:before { content: '\e80c'; } /* '' */
.sky-i-chevron-down:before { content: '\e80f'; } /* '' */
.sky-i-add:before { content: '\e812'; } /* '' */
.sky-i-chevron-left:before { content: '\e813'; } /* '' */
.sky-i-search:before { content: '\e814'; } /* '' */
.sky-i-close:before { content: '\e818'; } /* '' */
.sky-i-edit:before { content: '\e820'; } /* '' */
.sky-i-ellipsis:before { content: '\e823'; } /* '' */
.sky-i-filter:before { content: '\e82b'; } /* '' */
.sky-i-open:before { content: '\e83d'; } /* '' */
.sky-i-tile-drag:before { content: '\e854'; } /* '' */
.sky-i-trash:before { content: '\e855'; } /* '' */
.sky-i-help-i:before { content: '\e860'; } /* '' */
.sky-i-triangle-solid:before { content: '\e862'; } /* '' */
.sky-i-exclamation:before { content: '\e863'; } /* '' */
.sky-i-circle-solid:before { content: '\e864'; } /* '' */