
.sky-i-info-line:before { content: '\e800'; } /* '' */
.sky-i-calendar-line:before { content: '\e801'; } /* '' */
.sky-i-thumbs-up-line:before { content: '\e802'; } /* '' */
.sky-i-clock-line:before { content: '\e803'; } /* '' */
.sky-i-filter-solid:before { content: '\e804'; } /* '' */
.sky-i-align-left-line:before { content: '\e805'; } /* '' */
.sky-i-view-columns-line:before { content: '\e806'; } /* '' */
.sky-i-arrow-line:before { content: '\e807'; } /* '' */
.sky-i-send:before { content: '\e808'; } /* '' */
.sky-i-meeting-line:before { content: '\e809'; } /* '' */
.sky-i-check-line:before { content: '\e80a'; } /* '' */
.sky-i-chevron-right:before { content: '\e80b'; } /* '' */
.sky-i-chevron:before { content: '\e80c'; } /* '' */
.sky-i-announcement:before { content: '\e80d'; } /* '' */
.sky-i-chevron-down:before { content: '\e80f'; } /* '' */
.sky-i-edit-solid:before { content: '\e810'; } /* '' */
.sky-i-cards-solid:before { content: '\e811'; } /* '' */
.sky-i-add-line:before { content: '\e812'; } /* '' */
.sky-i-chevron-left:before { content: '\e813'; } /* '' */
.sky-i-search-line:before { content: '\e814'; } /* '' */
.sky-i-window-close-line:before { content: '\e815'; } /* '' */
.sky-i-business-line:before { content: '\e816'; } /* '' */
.sky-i-align-right-line:before { content: '\e817'; } /* '' */
.sky-i-close-line:before { content: '\e818'; } /* '' */
.sky-i-copy-to-clipboard-line:before { content: '\e819'; } /* '' */
.sky-i-copy-line:before { content: '\e81a'; } /* '' */
.sky-i-credit-card-line:before { content: '\e81b'; } /* '' */
.sky-i-cloud-solid:before { content: '\e81c'; } /* '' */
.sky-i-cloud-line:before { content: '\e81d'; } /* '' */
.sky-i-copy-solid:before { content: '\e81e'; } /* '' */
.sky-i-credit-card-solid:before { content: '\e81f'; } /* '' */
.sky-i-edit-line:before { content: '\e820'; } /* '' */
.sky-i-download-line:before { content: '\e821'; } /* '' */
.sky-i-cards-line:before { content: '\e822'; } /* '' */
.sky-i-ellipsis-line:before { content: '\e823'; } /* '' */
.sky-i-email-solid:before { content: '\e824'; } /* '' */
.sky-i-email-line:before { content: '\e825'; } /* '' */
.sky-i-file-line:before { content: '\e826'; } /* '' */
.sky-i-faith-bird:before { content: '\e827'; } /* '' */
.sky-i-faith-church:before { content: '\e828'; } /* '' */
.sky-i-file-solid:before { content: '\e829'; } /* '' */
.sky-i-align-center-line:before { content: '\e82a'; } /* '' */
.sky-i-filter-line:before { content: '\e82b'; } /* '' */
.sky-i-help-line:before { content: '\e82c'; } /* '' */
.sky-i-image-line:before { content: '\e82d'; } /* '' */
.sky-i-help-solid:before { content: '\e82e'; } /* '' */
.sky-i-image-solid:before { content: '\e82f'; } /* '' */
.sky-i-add-circle-line:before { content: '\e830'; } /* '' */
.sky-i-info-solid:before { content: '\e831'; } /* '' */
.sky-i-list-line:before { content: '\e832'; } /* '' */
.sky-i-map-marker-line:before { content: '\e833'; } /* '' */
.sky-i-list-solid:before { content: '\e834'; } /* '' */
.sky-i-map-marker-solid:before { content: '\e835'; } /* '' */
.sky-i-warning-line:before { content: '\e836'; } /* '' */
.sky-i-meeting-solid:before { content: '\e837'; } /* '' */
.sky-i-menu-line:before { content: '\e838'; } /* '' */
.sky-i-note-solid:before { content: '\e839'; } /* '' */
.sky-i-notification-line:before { content: '\e83a'; } /* '' */
.sky-i-note-line:before { content: '\e83b'; } /* '' */
.sky-i-notification-line-badged:before { content: '\e83c'; } /* '' */
.sky-i-open-line:before { content: '\e83d'; } /* '' */
.sky-i-notification-solid:before { content: '\e83e'; } /* '' */
.sky-i-notification-solid-badged:before { content: '\e83f'; } /* '' */
.sky-i-phone-solid:before { content: '\e840'; } /* '' */
.sky-i-open-solid:before { content: '\e841'; } /* '' */
.sky-i-phone-line:before { content: '\e842'; } /* '' */
.sky-i-print-line:before { content: '\e843'; } /* '' */
.sky-i-print-solid:before { content: '\e844'; } /* '' */
.sky-i-save-line:before { content: '\e845'; } /* '' */
.sky-i-business-solid:before { content: '\e846'; } /* '' */
.sky-i-save-solid:before { content: '\e847'; } /* '' */
.sky-i-archive-line:before { content: '\e848'; } /* '' */
.sky-i-settings-solid:before { content: '\e849'; } /* '' */
.sky-i-tag-line:before { content: '\e84a'; } /* '' */
.sky-i-settings-line:before { content: '\e84b'; } /* '' */
.sky-i-star-solid:before { content: '\e84c'; } /* '' */
.sky-i-star-line:before { content: '\e84d'; } /* '' */
.sky-i-thumbs-down-line:before { content: '\e84e'; } /* '' */
.sky-i-tag-solid:before { content: '\e84f'; } /* '' */
.sky-i-sort-by-line:before { content: '\e850'; } /* '' */
.sky-i-thumbs-down-solid:before { content: '\e851'; } /* '' */
.sky-i-thumbs-up-solid:before { content: '\e852'; } /* '' */
.sky-i-trash-solid:before { content: '\e853'; } /* '' */
.sky-i-tile-drag-line:before { content: '\e854'; } /* '' */
.sky-i-trash-line:before { content: '\e855'; } /* '' */
.sky-i-upload-line:before { content: '\e856'; } /* '' */
.sky-i-calendar-solid:before { content: '\e857'; } /* '' */
.sky-i-archive-solid:before { content: '\e858'; } /* '' */
.sky-i-warning-solid:before { content: '\e859'; } /* '' */
.sky-i-ban:before { content: '\e85a'; } /* '' */
.sky-i-zoom-out-line:before { content: '\e85b'; } /* '' */
.sky-i-zoom-in-line:before { content: '\e85c'; } /* '' */
.sky-i-attach:before { content: '\e890'; } /* '' */
.sky-i-add-circle-solid:before { content: '\e891'; } /* '' */