
.sky-i-calendar:before { content: '\e801'; } /* '' */
.sky-i-clock:before { content: '\e803'; } /* '' */
.sky-i-filter-solid:before { content: '\e804'; } /* '' */
.sky-i-columns:before { content: '\e806'; } /* '' */
.sky-i-check:before { content: '\e80a'; } /* '' */
.sky-i-chevron-right:before { content: '\e80b'; } /* '' */
.sky-i-chevron-up:before { content: '\e80c'; } /* '' */
.sky-i-chevron-down:before { content: '\e80f'; } /* '' */
.sky-i-add:before { content: '\e812'; } /* '' */
.sky-i-chevron-left:before { content: '\e813'; } /* '' */
.sky-i-search:before { content: '\e814'; } /* '' */
.sky-i-close:before { content: '\e818'; } /* '' */
.sky-i-edit:before { content: '\e820'; } /* '' */
.sky-i-ellipsis:before { content: '\e823'; } /* '' */
.sky-i-filter:before { content: '\e82b'; } /* '' */
.sky-i-open:before { content: '\e83d'; } /* '' */
.sky-i-tile-drag:before { content: '\e854'; } /* '' */
.sky-i-trash:before { content: '\e855'; } /* '' */
.sky-i-help-i:before { content: '\e860'; } /* '' */
.sky-i-triangle-solid:before { content: '\e862'; } /* '' */
.sky-i-exclamation:before { content: '\e863'; } /* '' */
.sky-i-circle-solid:before { content: '\e864'; } /* '' */