@font-face {
  font-family: 'skyux-icons';
  src: url('../font/skyux-icons.eot?15562951');
  src: url('../font/skyux-icons.eot?15562951#iefix') format('embedded-opentype'),
       url('../font/skyux-icons.woff2?15562951') format('woff2'),
       url('../font/skyux-icons.woff?15562951') format('woff'),
       url('../font/skyux-icons.ttf?15562951') format('truetype'),
       url('../font/skyux-icons.svg?15562951#skyux-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'skyux-icons';
    src: url('../font/skyux-icons.svg?15562951#skyux-icons') format('svg');
  }
}
*/
 
 [class^="sky-i-"]:before, [class*=" sky-i-"]:before {
  font-family: "skyux-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.sky-i-home-solid:before { content: '\e800'; } /* '' */
.sky-i-calendar-line:before { content: '\e801'; } /* '' */
.sky-i-form-line:before { content: '\e802'; } /* '' */
.sky-i-clock-line:before { content: '\e803'; } /* '' */
.sky-i-filter-solid:before { content: '\e804'; } /* '' */
.sky-i-sort-by-line:before { content: '\e805'; } /* '' */
.sky-i-columns-line:before { content: '\e806'; } /* '' */
.sky-i-help-solid:before { content: '\e807'; } /* '' */
.sky-i-credit-card-line:before { content: '\e808'; } /* '' */
.sky-i-file-line:before { content: '\e809'; } /* '' */
.sky-i-check-line:before { content: '\e80a'; } /* '' */
.sky-i-chevron-right:before { content: '\e80b'; } /* '' */
.sky-i-chevron-up:before { content: '\e80c'; } /* '' */
.sky-i-chevron-down:before { content: '\e80f'; } /* '' */
.sky-i-add-line:before { content: '\e812'; } /* '' */
.sky-i-chevron-left:before { content: '\e813'; } /* '' */
.sky-i-search-line:before { content: '\e814'; } /* '' */
.sky-i-close-line:before { content: '\e818'; } /* '' */
.sky-i-open-solid:before { content: '\e819'; } /* '' */
.sky-i-calendar-solid:before { content: '\e81b'; } /* '' */
.sky-i-clock-solid:before { content: '\e81c'; } /* '' */
.sky-i-edit-solid:before { content: '\e81d'; } /* '' */
.sky-i-delete-solid:before { content: '\e81e'; } /* '' */
.sky-i-home-line:before { content: '\e81f'; } /* '' */
.sky-i-edit-line:before { content: '\e820'; } /* '' */
.sky-i-users-line:before { content: '\e821'; } /* '' */
.sky-i-users-solid:before { content: '\e822'; } /* '' */
.sky-i-ellipsis-line:before { content: '\e823'; } /* '' */
.sky-i-money-line:before { content: '\e824'; } /* '' */
.sky-i-dollar-bill-solid:before { content: '\e825'; } /* '' */
.sky-i-cog-line:before { content: '\e826'; } /* '' */
.sky-i-cog-solid:before { content: '\e827'; } /* '' */
.sky-i-bell-line:before { content: '\e828'; } /* '' */
.sky-i-bell-solid:before { content: '\e829'; } /* '' */
.sky-i-help-line:before { content: '\e82a'; } /* '' */
.sky-i-filter-line:before { content: '\e82b'; } /* '' */
.sky-i-double-chevron-left:before { content: '\e82c'; } /* '' */
.sky-i-double-chevron-right:before { content: '\e82d'; } /* '' */
.sky-i-credit-card-solid:before { content: '\e82e'; } /* '' */
.sky-i-printer-line:before { content: '\e82f'; } /* '' */
.sky-i-printer-solid:before { content: '\e830'; } /* '' */
.sky-i-chat-line:before { content: '\e831'; } /* '' */
.sky-i-chat-solid:before { content: '\e832'; } /* '' */
.sky-i-copy-to-clipboard-line:before { content: '\e833'; } /* '' */
.sky-i-duplicate-line:before { content: '\e834'; } /* '' */
.sky-i-duplicate-solid:before { content: '\e835'; } /* '' */
.sky-i-email-line:before { content: '\e836'; } /* '' */
.sky-i-email-solid:before { content: '\e837'; } /* '' */
.sky-i-menu-line:before { content: '\e838'; } /* '' */
.sky-i-phone-line:before { content: '\e839'; } /* '' */
.sky-i-phone-solid:before { content: '\e83a'; } /* '' */
.sky-i-thumbs-up-line:before { content: '\e83b'; } /* '' */
.sky-i-thumbs-up-solid:before { content: '\e83c'; } /* '' */
.sky-i-open-line:before { content: '\e83d'; } /* '' */
.sky-i-file-solid:before { content: '\e83e'; } /* '' */
.sky-i-tile-drag-line:before { content: '\e854'; } /* '' */
.sky-i-delete-line:before { content: '\e855'; } /* '' */
.sky-i-help-i:before { content: '\e860'; } /* '' */
.sky-i-triangle-solid:before { content: '\e862'; } /* '' */
.sky-i-exclamation:before { content: '\e863'; } /* '' */
.sky-i-circle-solid:before { content: '\e864'; } /* '' */
.sky-i-__do_not_delete:before { content: '\e999'; } /* '' */