
.sky-i-info:before { content: '\e800'; } /* '' */
.sky-i-filter:before { content: '\e804'; } /* '' */
.sky-i-sort:before { content: '\e805'; } /* '' */
.sky-i-column-layout:before { content: '\e806'; } /* '' */
.sky-i-check:before { content: '\e80a'; } /* '' */
.sky-i-chevron-right:before { content: '\e80b'; } /* '' */
.sky-i-chevron-up:before { content: '\e80c'; } /* '' */
.sky-i-thumbs-down:before { content: '\e80e'; } /* '' */
.sky-i-chevron-down:before { content: '\e80f'; } /* '' */
.sky-i-add:before { content: '\e812'; } /* '' */
.sky-i-chevron-left:before { content: '\e813'; } /* '' */
.sky-i-close:before { content: '\e815'; } /* '' */