@font-face {
  font-family: 'skyux-icons';
  src: url('../font/skyux-icons.eot?66860569');
  src: url('../font/skyux-icons.eot?66860569#iefix') format('embedded-opentype'),
       url('../font/skyux-icons.woff2?66860569') format('woff2'),
       url('../font/skyux-icons.woff?66860569') format('woff'),
       url('../font/skyux-icons.ttf?66860569') format('truetype'),
       url('../font/skyux-icons.svg?66860569#skyux-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'skyux-icons';
    src: url('../font/skyux-icons.svg?66860569#skyux-icons') format('svg');
  }
}
*/
 
 [class^="sky-i-"]:before, [class*=" sky-i-"]:before {
  font-family: "skyux-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.sky-i-info:before { content: '\e800'; } /* '' */
.sky-i-calendar:before { content: '\e801'; } /* '' */
.sky-i-warning-solid:before { content: '\e802'; } /* '' */
.sky-i-clock:before { content: '\e803'; } /* '' */
.sky-i-filter-solid:before { content: '\e804'; } /* '' */
.sky-i-align-left:before { content: '\e805'; } /* '' */
.sky-i-columns:before { content: '\e806'; } /* '' */
.sky-i-arrow:before { content: '\e807'; } /* '' */
.sky-i-send:before { content: '\e808'; } /* '' */
.sky-i-meeting:before { content: '\e809'; } /* '' */
.sky-i-check:before { content: '\e80a'; } /* '' */
.sky-i-chevron-right:before { content: '\e80b'; } /* '' */
.sky-i-chevron-up:before { content: '\e80c'; } /* '' */
.sky-i-announcement:before { content: '\e80d'; } /* '' */
.sky-i-chevron-down:before { content: '\e80f'; } /* '' */
.sky-i-edit-solid:before { content: '\e810'; } /* '' */
.sky-i-cards-solid:before { content: '\e811'; } /* '' */
.sky-i-add:before { content: '\e812'; } /* '' */
.sky-i-chevron-left:before { content: '\e813'; } /* '' */
.sky-i-search:before { content: '\e814'; } /* '' */
.sky-i-close-1:before { content: '\e815'; } /* '' */
.sky-i-business:before { content: '\e816'; } /* '' */
.sky-i-align-right:before { content: '\e817'; } /* '' */
.sky-i-close:before { content: '\e818'; } /* '' */
.sky-i-copy-to-clipboard:before { content: '\e819'; } /* '' */
.sky-i-copy:before { content: '\e81a'; } /* '' */
.sky-i-credit-card:before { content: '\e81b'; } /* '' */
.sky-i-cloud-solid:before { content: '\e81c'; } /* '' */
.sky-i-cloud:before { content: '\e81d'; } /* '' */
.sky-i-copy-solid:before { content: '\e81e'; } /* '' */
.sky-i-credit-card-solid:before { content: '\e81f'; } /* '' */
.sky-i-edit:before { content: '\e820'; } /* '' */
.sky-i-download:before { content: '\e821'; } /* '' */
.sky-i-cards:before { content: '\e822'; } /* '' */
.sky-i-ellipsis:before { content: '\e823'; } /* '' */
.sky-i-email-solid:before { content: '\e824'; } /* '' */
.sky-i-email:before { content: '\e825'; } /* '' */
.sky-i-file:before { content: '\e826'; } /* '' */
.sky-i-faith-bird:before { content: '\e827'; } /* '' */
.sky-i-faith-church:before { content: '\e828'; } /* '' */
.sky-i-file-solid:before { content: '\e829'; } /* '' */
.sky-i-align-center:before { content: '\e82a'; } /* '' */
.sky-i-filter:before { content: '\e82b'; } /* '' */
.sky-i-help:before { content: '\e82c'; } /* '' */
.sky-i-image:before { content: '\e82d'; } /* '' */
.sky-i-help-solid:before { content: '\e82e'; } /* '' */
.sky-i-image-solid:before { content: '\e82f'; } /* '' */
.sky-i-add-circle:before { content: '\e830'; } /* '' */
.sky-i-info-solid:before { content: '\e831'; } /* '' */
.sky-i-list:before { content: '\e832'; } /* '' */
.sky-i-map-marker:before { content: '\e833'; } /* '' */
.sky-i-list-solid:before { content: '\e834'; } /* '' */
.sky-i-map-marker-solid:before { content: '\e835'; } /* '' */
.sky-i-meeting-solid:before { content: '\e837'; } /* '' */
.sky-i-menu:before { content: '\e838'; } /* '' */
.sky-i-note-solid:before { content: '\e839'; } /* '' */
.sky-i-notification:before { content: '\e83a'; } /* '' */
.sky-i-note:before { content: '\e83b'; } /* '' */
.sky-i-notification-badged:before { content: '\e83c'; } /* '' */
.sky-i-open:before { content: '\e83d'; } /* '' */
.sky-i-notification-solid:before { content: '\e83e'; } /* '' */
.sky-i-notification-solid-badged:before { content: '\e83f'; } /* '' */
.sky-i-phone-solid:before { content: '\e840'; } /* '' */
.sky-i-open-solid:before { content: '\e841'; } /* '' */
.sky-i-phone:before { content: '\e842'; } /* '' */
.sky-i-print:before { content: '\e843'; } /* '' */
.sky-i-print-solid:before { content: '\e844'; } /* '' */
.sky-i-save:before { content: '\e845'; } /* '' */
.sky-i-business-solid:before { content: '\e846'; } /* '' */
.sky-i-save-solid:before { content: '\e847'; } /* '' */
.sky-i-archive:before { content: '\e848'; } /* '' */
.sky-i-settings-solid:before { content: '\e849'; } /* '' */
.sky-i-tag:before { content: '\e84a'; } /* '' */
.sky-i-settings:before { content: '\e84b'; } /* '' */
.sky-i-star-solid:before { content: '\e84c'; } /* '' */
.sky-i-star:before { content: '\e84d'; } /* '' */
.sky-i-thumbs-down:before { content: '\e84e'; } /* '' */
.sky-i-tag-solid:before { content: '\e84f'; } /* '' */
.sky-i-sort:before { content: '\e850'; } /* '' */
.sky-i-thumbs-down-solid:before { content: '\e851'; } /* '' */
.sky-i-thumbs-up-solid:before { content: '\e852'; } /* '' */
.sky-i-trash-solid:before { content: '\e853'; } /* '' */
.sky-i-tile-drag:before { content: '\e854'; } /* '' */
.sky-i-trash:before { content: '\e855'; } /* '' */
.sky-i-upload:before { content: '\e856'; } /* '' */
.sky-i-calendar-solid:before { content: '\e857'; } /* '' */
.sky-i-archive-solid:before { content: '\e858'; } /* '' */
.sky-i-thumbs-up:before { content: '\e859'; } /* '' */
.sky-i-ban:before { content: '\e85a'; } /* '' */
.sky-i-zoom-out:before { content: '\e85b'; } /* '' */
.sky-i-zoom-in:before { content: '\e85c'; } /* '' */
.sky-i-help-i:before { content: '\e860'; } /* '' */
.sky-i-triangle-solid:before { content: '\e862'; } /* '' */
.sky-i-exclamation:before { content: '\e863'; } /* '' */
.sky-i-circle-solid:before { content: '\e864'; } /* '' */
.sky-i-attach:before { content: '\e890'; } /* '' */
.sky-i-add-circle-solid:before { content: '\e891'; } /* '' */